<div id="homepage-header-img">
   <div id="homepage-header-content">
      <img src="{{ 'assets/img/mqtt-logo-transp.svg' | relative_url }}" id="mqtt-logo-header" class="float-left">
      <hr style="border-top: 1px solid #fff; border-bottom: none; margin: 10px auto 0;" class="width-container" id="header-hr">
      <div id="homepage-intro">
         <h1 style="font-size: 32px;">MQTT: The Standard for IoT Messaging</h1>
         MQTT is an OASIS standard messaging protocol for the Internet of Things (IoT). It is designed as an extremely lightweight publish/subscribe messaging transport that is ideal for connecting remote devices with a small code footprint and minimal network bandwidth. 
         MQTT today is used in a wide variety of industries, such as automotive, manufacturing, telecommunications, oil and gas, etc.
         <br/><br/>
         <a href="{{ '/getting-started/' | relative_url }}"><button class="major-cta major-cta-tranpsparent">Getting started with MQTT</button></a>
      </div>
   </div>
</div>