body {
   font-family: 'Lato', sans-serif;
   margin: 0;
   padding: 0;
   font-size: 15px;
   line-height: 1.5rem;
   font-weight: 300;
}

/* Typography */
h1 {
   font-size: 32px;
   margin: 2rem 0;
}

h2 {
   font-size: 28px;
   margin: 1.5rem 0;
}

h3 {
   font-size: 24px;
   font-weight: 300;
   margin: .5rem 0;
}

h4 {
   font-size: 20px;
   font-weight: 300;
   margin: .5rem 0;
}

h5 {
   font-size: 20px;
   color: #660066;
}

a, a:link, a:visited {
   color: #ff8800;
   text-decoration: none;
}

/* Global */
.centered-80 {
   width: 80%;
   margin: 0 auto;
}

#mqtt-logo-header {
   width: 125px;
   padding-top: 30px;
   padding-left: 30px;
}

.flex-wrap-centered {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}

.round-number {
   height: 36px;
   width: 36px;
   background-color: #660066;
   color: #fff;
   font-size: 20px;
   padding: 5px;
   box-sizing: border-box;
   text-align: center;
   border-radius: 18px;
   float: left;
   position: relative;
   top: -5px;
}

.indented {
   padding-left: 60px;
}
/* Navigation */
#main-nav.default-nav {
   position: fixed;
   top: 100px;
   padding-left: 30px;
}

.nav-item a,
.nav-item a:visited,
.nav-item a:active {
   text-decoration: none;
   color: #660066;
}

.nav-item a:hover,
.nav-item a:focus {
   color: #ff8800;
}

.nav-item {
   font-size: 16px;
   padding: 10px 10px 10px 0;
   border-bottom: 1px solid #660066;

   &:last-child {
     border-bottom: none;
   }
}

.content-wrap {
   display: flex;
   flex-direction: row;
}

.content {
   width: 100%;
   max-width: 1100px;
   margin-left: 266px;
   padding-top: 90px;
}

footer {
   background-color: #660066;
   color: #fff;
   position: relative;
   bottom: 0;
   width: 100%;
   padding: 15px 30px;
   font-size: 16px;
   box-sizing: border-box;
}

/* Homepage */
#mqtt-home {
   width: 80%;
   margin: 0 10%;
   max-width: 1366px;
   box-shadow: 2px 2px 4px #afafaf;
   border: 1px solid #afafaf;
}

#homepage-header {
   background-image: url($home-header);
   height: 530px;
}

#main-nav.homepage-nav {
   position: absolute;
   top: 100px;
   padding-left: 30px;
}

.homepage-nav a,
.homepage-nav a:visited {
   color: #fff;
}

.homepage-nav .nav-item {
   border-bottom: 1px solid #fff;

   &:last-child {
     border-bottom: none;
   }
}

#homepage-intro {
   color: #fff;
   width: 60%;
   margin: 50px 20%;
   text-align: center;
   line-height: 32px;
   font-size: 17px;
}
#homepage-content {
   padding-top: 25px;
}

.major-cta {
   padding: 10px;
   border: 1px solid #fff;
   border-radius: 10px;
   background-color: transparent;
   color: #fff;
   font-size: 18px;
}

#keyfeature-list {
   width: 100%;
   margin: 25px 0 75px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

.keyfeature {
   flex-basis: 33%;
   padding-left: 0;
   padding-right: 8%;
   display: block;
   box-sizing: border-box;
}

.keyfeature.mid {
   padding-left: 4%;
   padding-right: 4%;
}

.keyfeature.last {
   padding-left: 8%;
   padding-right: 0;
}

#pub-sub-graphic {
   text-align: center;
}

#mqtt-in-action {
   background-color: #eceeef;
   padding: 25px 10% 75px;
   text-align: center;
}

.mqtt-in-action-box {
   width: 282px;
   height: 202px;
   margin: 5px;
   padding: 2px 10px;
   box-sizing: border-box;
   color: #fff;
   text-align: left;
}

/* Default Pages */
#default-header {
   background-image: url($header);
   background-size: cover;
   width: 100%;
   height: 80px;
   position: fixed;
}

.width-container {
   width: 100%;
   max-width: 1366px;
   margin: 0 auto;
   box-sizing: border-box;
}

/* Software Page */
.panel-item {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 5px 25px 15px 0;
}

.panel-item:not(.last) {
   border-bottom: #afafaf 1px dotted;
}

.software-logo {
   width: 150px;
   height: 65px;
   margin: 0 10px;
}
.panel-item h3,
.panel-item a {
   text-decoration: none;
}

.panel-item h3 {
   color: #660066;
   font-size: 18px;
   font-weight: bold;
   line-height: 20px;
   margin: 10px 0 5px 0;
}

/* Accordions START */
.accordion-wrapper {
   width: 90%;
}

.accordion-wrapper.software {
   width: 90%;
}

.accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
 }
 
 .active, .accordion:hover {
   background-color: #660066;
   color: #fff;
 }
 
 .accordion:after {
   content: '\002B';
   color: #444;
   font-weight: bold;
   float: right;
   margin-left: 5px;
 }
 
 .active, .accordion:hover:after {
   color: #fff;
 }
 
 .active:after {
   content: "\2212";
   color: #fff;
 }
 
 .panel {
   padding: 0 18px;
   background-color: white;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
 }
 .subhead {
    background-color:#959ba5;
    color: #fff;
    width: 100%;
    padding: 5px 15px;
 }

 /* Accordions END */