---
---
$home-header: "{{ 'assets/img/homepage-gradient.jpg' | relative_url }}";
$home-header-mobile: "{{ 'assets/img/homepage-gradient-mobile.jpg' | relative_url }}";
$header: "{{ 'assets/img/header-gradient.jpg' | relative_url }}";
@import "style";