<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="robots" content="noindex">
    <link href="{{ 'assets/css/style.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="homepage-header">
        {% include homepage-header.html %}
    </header>
    <nav id="main-nav" class="homepage-nav float-left">
      {% include nav.html %}
    </nav>
    <section id="homepage-content">
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>