<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="{{ 'assets/css/style.css' | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>
  <body id="mqtt-home">
    <header id="homepage-header">
      <img src="{{ 'assets/img/mqtt-logo-transp.svg' | relative_url }}" id="mqtt-logo-header">
      {% include homepage-header.html %}
    </header>
    <section class="content-wrap">
      <nav id="main-nav" class="homepage-nav">
        {% include nav.html %}
      </nav>
      <section id="homepage-content">
        {{ content }}
      </section>
    </section>
      {% include footer.html %}
  </body>
</html>